@model ihff.Models.Wishlist

<h1>Wishlist</h1>

<div id="wishlist-wrapper">
    <table id="wishlist-table">
        <thead>
           <tr>
               <th>Activiteit</th>
               <th>Locatie</th>
               <th>Datum/Tijd</th>
               <th>Aantal</th>
               <th>Prijs</th>
           </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.wishlistItems)
            {
                <tr>
                    <td>@item.name</td>
                    <td>@item.location</td>
                    <td>@item.startTime</td>
                    <td>@item.persons</td>
                    <td></td> @Html.ActionLink("Aanpassen", "EditItem", new { id = item.Id }) @Html.ActionLink("Verwijderen", "RemoveItem", new { id = item.Id})
                </tr>
            }
           <tr>
                <td></td>
                <td></td>
                <td>@*@new int totaal; 
                Totaal: @foreach (var item in Model)
                                totaal= totaal+item.*@ Totaal:</td>
                <td></td>
                <td>30,00</td>
            </tr>
        </tbody>
    </table>
</div>
<div id="wishlist-buttons">
    @Html.ActionLink("Nieuwe Wishlist", "NewWishlist")
    @Html.ActionLink("Wishlist Opslaan", "SaveWishlist")
    @Html.ActionLink("Wishlist Ophalen", "GetWishlist")
    @Html.ActionLink("Afrekenen", "afrekenen")
</div>
