@using ihff.Models
@model Activitieswednesday

<h1>Blokken schema</h1>


<div id="wishlist-wrapper">
    <table id="wishlist-table">
        <thead>
            
        </thead>
        <tbody>
    <tr>
        <th>Pathe zaal 1</th>
        @foreach (var activity in Model.activitiesPatheZaal1)
        {
            //link naar detailpagina film
            <td>
                @activity.name <br />
                @activity.type <br />
                @activity.startTime.TimeOfDay <br />
                @activity.endTime.TimeOfDay <br />
                @activity.location <br />
            </td>

        }
    </tr>
            <tr>
                <th>Pathe zaal 9</th>
                @foreach (var activity in Model.activitiesPatheZaal9)
                {
                    //link naar detailpagina film
                    <td>
                        @activity.name <br />
                        @activity.type <br />
                        @activity.startTime.TimeOfDay <br />
                        @activity.endTime.TimeOfDay <br />
                        @activity.location <br />
                    </td>
                }
            </tr>
            <tr>
                <th>Pathe zaal 13</th>
                @foreach (var activity in Model.activitiesPatheZaal13)
                {
                    //link naar detailpagina film
                    <td>
                        @activity.name <br />
                        @activity.type <br />
                        @activity.startTime.TimeOfDay <br />
                        @activity.endTime.TimeOfDay <br />
                        @activity.location <br />
                    </td>
                }
            </tr>




</tbody>
    </table>
</div>




