@model ihff.Models.WishlistItem
@{
    ViewBag.Title = "addcontact";
}

<h2>Test @Model.Id @Model.name</h2>
<br />
<br />

@using (Html.BeginForm())
{
    @Html.LabelFor(m => m.name)
    <br />
    @Html.LabelFor(m => m.type)
    <br />
    @Html.LabelFor(m => m.location)
    <br />
    @Html.LabelFor(m => m.startTime)
    <br />
    @Html.LabelFor(m => m.endTime)
    <br />
    @Html.LabelFor(m => m.persons)
    @Html.TextBoxFor(m => m.persons)
    @Html.ValidationMessageFor(m => m.persons)
    <br />
    
    <input type="submit" value="AddItem" />
}
