<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="utf-8" />
        
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="nav-bar">
                <nav>
                    <div id="homeImg">
                        <a href="@Url.Action("Index", "Home")"><img src="@Url.Content("~/images/logo1.png")" /></a>
                    </div>
                    <ul>
                        <li>@Html.ActionLink("Agenda", "Index", "AgendaBlokken")</li>
                        <li>@Html.ActionLink("Films", "Index", "Films")</li>
                        <li>@Html.ActionLink("Specials", "Index", "Home")</li>
                        <li>@Html.ActionLink("Diners", "Index", "Home")</li>
                        <li>@Html.ActionLink("Wishlist", "Index", "Wishlist")</li>
                    </ul>
                </nav>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>

        <footer>
            <div class="col">
                <ul class="ulfooter">
                    <li><b>INFORMATION</b></li>
                    <li>Specials</li>
                    <li>Films</li>
                    <li>Restaurants</li>
                    <li>Locations</li>
                </ul>
            </div>
            <div class="col">
                <ul class="ulfooter">
                    <li><b>MY iHff</b></li>
                    <li>@Html.ActionLink("My Wishlist", "Index", "Wishlist")</li>
                </ul>
            </div>
            <div class="col">
                <ul class="ulfooter">
                    <li><b>FOLLOW US</b></li>
                    <li>Facebook</li>
                    <li>Twitter</li>
                </ul>
             </div>
            <div class="col">
                <ul class="ulfooter">
                    <li><b>Contact</b></li>
                    <li>E-mail</li>
                    <li>071-403322556</li>
                </ul>
            </div>
            <div class="col">
                <ul class="ulfooter">
                    <li>@Html.ActionLink("Register", "AddAccount", "Accounts");</li>
                    <li>@Html.ActionLink("Login", "Login", "Accounts");</li>
                </ul>
            </div>
</footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
